{% extends 'base.html' %}

{% block head %}
<title>Search Page</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center; color: #225f64;">Review Scrapper</h1>
    <div class="form">
        <form action="/scrap" method="POST">
            <input type="text" name="content" id="content" placeholder="Enter product name" autofocus>
            <input type="submit" value="Search">
        </form>
        <p><small>Click on search button to see reviews of the entered product from Flipkart website.</small></p>
    </div>
</div>
{% endblock %}